<section id="view-admin" style="margin-top:18px">
  <div class="tabs">
    <div class="tab active" data-tab="adm-users">Users</div>
    <div class="tab" data-tab="adm-students">Students</div>
    <div class="tab" data-tab="adm-courses">Courses</div>
    <div class="tab" data-tab="adm-enroll">Enrollments</div>
    <div class="tab" data-tab="adm-perms">Roles & Perms</div>
    <div class="tab" data-tab="adm-data">Data I/O</div>
    <div class="tab" data-tab="adm-brand">Branding & CORS</div>
  </div>

  <div id="adm-users" class="tab-pane"></div>
  <div id="adm-students" class="tab-pane hidden"></div>
  <div id="adm-courses" class="tab-pane hidden"></div>
  <div id="adm-enroll" class="tab-pane hidden"></div>
  <div id="adm-perms" class="tab-pane hidden"></div>
  <div id="adm-data" class="tab-pane hidden"></div>
  <div id="adm-brand" class="tab-pane hidden"></div>
</section>
