<section id="view-head" style="margin-top:18px">
  <div class="tabs">
    <div class="tab active" data-tab="h-home">Overview</div>
    <div class="tab" data-tab="h-assign">Assign / Reassign</div>
    <div class="tab" data-tab="h-assignments">Assignments</div>
    <div class="tab" data-tab="h-analytics">Analytics</div>
  </div>

  <div id="h-home" class="tab-pane"></div>
  <div id="h-assign" class="tab-pane hidden"></div>
  <div id="h-assignments" class="tab-pane hidden"></div>
  <div id="h-analytics" class="tab-pane hidden"></div>
</section>
